<div class="row" [ngClass]="{'mt-2': doBeg, 'mt-5': !doBeg}">
    <div class="col-sm-12 d-flex justify-content-center">
        <h2 class="text-secondary">What is this tool ??</h2>
    </div>
    <div class="col-sm-12 d-flex justify-content-center">
        <p class="font-12 text-center text-secondary">
            This is a tool to convert GPX (v1.1) files to segments of google maps urls that you can share.
            <br>
            Each segment will have a MAXIMUM of 25 way points. This is a google maps limitation
            <br>
            Once Converted, you can
            <br>
            1. Copy the maps url by clicking on <i class="fa fa-clipboard"></i>
            <br>
            2. Open maps url on new tab by clicking on <i class="fa fa-external-link-square"></i>
            <br>
            3. Share maps url on whatsapp by clicking on <i class="fa fa-whatsapp"></i>
        </p>
    </div>
</div>