<div *ngIf="doBeg == true" class="row mt-4">
    <div class="col-sm-12 d-flex justify-content-center ">
        <img src="assets/hi.png" style="width: 40px;"/>        
    </div>    
    <div class="col-sm-12 d-flex justify-content-center">
        <p class="text-center font-12 color-orange" >
            <b>Due to low usage, we decided to shut this website down.</b><br>
            <b>This website will no longer be available after 2023-02-28</b><br>
            <b>If you are a user of this website and want this web site to continue, please get in touch via my LinkedIn profile</b><br>
            <b>Your donations will be highly appreciated and will help us keep this service running..</b><br>
        </p>
    </div>
    <div class="col-sm-12 d-flex justify-content-center">
        <app-paypal-donate [showDetails]="false"></app-paypal-donate>
    </div>
    <hr style="width: 20%" />
</div>
