<div class="row">
  <div class="col-sm-12 d-flex justify-content-center">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations" />
      <input type="hidden" name="business" value="PR4FG65AAFSLL" />
      <input type="hidden" name="currency_code" value="AUD" />
      <input type="hidden" name="amount" value="5" />
      <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1" />
      </form>
  </div>
  <hr>
  <div class="col-sm-12 d-flex justify-content-center paypal-beg-style">
    <p class="text-center">
      GPX to Google Maps Converter is a free tool as of now.
      <br>
      If you found this tool useful, a donation is highly appreciated.
      <br>
      This will help us keep this service running
      <br>
      Copyright©2020 Supun De Silva
    </p>

  </div>
</div>

