<app-header></app-header>
<div class="container">
  <div class="row mt-5">        
    <div class="col-sm-12 d-flex justify-content-center">    
      <h2 class="text-secondary">What is this tool ??</h2>  
    </div>
    <div class="col-sm-12 d-flex justify-content-center">      
      <p class="font-12 text-center text-secondary">
        This is a tool to convert GPX (v1.1) files to segments of google maps urls that you can share.
        <br>
        Each segment will have a MAXIMUM of 25 way points. This is a google maps limitation
        <br>
        Once Converted, you can
        <br>
        1. Copy the maps url by clicking on <i class="fa fa-clipboard"></i>     
        <br>
        2. Open maps url on new tab by clicking on <i class="fa fa-external-link-square"></i> 
        <br>
        3. Share maps url by clicking on <i class="fa fa-share-alt-square"></i> 
      </p>
    </div>
    <div class="col-sm-12 d-flex justify-content-center">      
      <h5 class="text-secondary">Upload your .gpx Route File</h5>
    </div>
    <div class="col-sm-12 d-flex justify-content-center">      
      <p class="font-12 text-danger"><b>(GPX version 1.1 only)</b></p>
    </div>
    <div class="col-sm-12">
      <div class="custom-file">
        <input type="file" class="custom-file-input cursor-pointer" accept=".xml,.gpx" (change)="changeListener($event)"
          id="customFile" (click)="clearSelection($event)">
        <label class="custom-file-label" for="customFile" #displayLabel>Choose file</label>
      </div>
      <div class="block text-center mt-2">
        <span class="text-primary">Are you using Andriod Auto ? </span>
        <input type="checkbox" class="btn btn-info pl-5 pr-5 custom_check_box border border-primary"
          (click)="toggleAndroidAuto($event)" />
        <br />
        <span class="text-orange" style="font-size: 12px;">Important !!!</span>
        <br />
        <span class="text-orange" style="font-size: 12px;">URLs for Android Auto are slightly different.</span>
        <br />
        <span class="text-orange" style="font-size: 12px;">Please check the box if you are using these links on Android Auto</span>
      </div>
      <br />
      <div class="block text-center mt-2">
        <button [disabled]="lastLoadedfileData == null" class="btn btn-info pl-5 pr-5"
          (click)="processFile()">Convert</button>
      </div>
    </div>
  </div>
  <hr style="width: 40%" />
  <div *ngIf="parserError != null" class="row d-flex justify-content-center pt-2 pb-2 text-white">
    <div class="col-sm-8 bg-danger rounded">
      <div class="block text-center pt-1">
        <b>File seems to have errors</b>
      </div>
      <hr>
      <pre class="text-white">{{parserError}}
      </pre>
    </div>
  </div>
  <div *ngIf="parserWarning != null" class="row d-flex justify-content-center pt-2 pb-2 text-white">
    <div class="col-sm-8 bg-warning rounded">
      <div class="block text-center pt-1 pb-1">
        <b>{{parserWarning}}</b>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12 d-flex justify-content-center">
      <app-paypal-donate></app-paypal-donate>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12 text-center text-info">
      We are hosted on <a href="https://www.vultr.com/?ref=8721407">Vultr.com</a> check it out to see if that fits your
      hosting needs.
    </div>
  </div>
  <ng-container *ngIf="routesInfile?.length > 0">
    <div class="row mt-2">
      <div class="col-sm-12 d-flex justify-content-center">
        <h5>Route Results</h5>
      </div>
      <div class="col-sm-12">
        <app-alert></app-alert>
      </div>
    </div>
    <hr>
    <div class="row route-container">
      <div class="col-sm-4 border">
        <div class="row route-list">
          <div class="col-sm-12 text-center pt-2">
            <b>Your File has {{routesInfile?.length}} Route{{routesInfile?.length > 1 ? 's' : ''}}</b>
          </div>
          <div class="col-sm-12">
            <hr>
          </div>
          <div class="col-sm-12 route-list-table">
            <table class="table table-light">
              <tbody>
                <tr *ngFor="let rt of routesDisplay; index as i" class="cursor-pointer p-1 hover-row"
                  [ngClass]="{'bg-info text-white' : i == selectedRow}" (click)="toggleCollapse($event, i)">
                  <td *ngIf="rt.routeSegments.length > 1">
                    {{rt.name}} 
                    <button class="border border-secondary rounded pl-1 pr-1 float-right bg-secondary text-white" (click)="toggleCollapse($event, i)">
                      ({{rt.routeSegments.length}}) 
                      <i *ngIf="expandedRow == i" class="fa fa-caret-up"></i>
                      <i *ngIf="expandedRow != i" class="fa fa-caret-down"></i>
                    </button>                   
                    <table class="table table-light mt-1" *ngIf="expandedRow == i">
                      <tbody>
                        <tr *ngFor="let subRt of rt.routeSegments; index as j" class="cursor-pointer hover-sub-row"
                          [ngClass]="{'bg-white text-info' : j == selectedSubRow && i == selectedRow }"
                          (click)="rowSelected(i, j, $event)">
                          <td>Route Part {{j + 1}}
                            <div class="float-right">
                              <i class="fa fa-clipboard pr-1" aria-hidden="true" (click)="copyLinkToClipboard(rt.segmentUris[j].mapsUri, $event)"></i>
                              <i class="fa fa-external-link-square" aria-hidden="true" (click)="goToLink(rt.segmentUris[0].mapsUri, $event)"></i>
                            </div>
                            
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td *ngIf="rt.routeSegments.length === 1" (click)="rowSelected(i, 0, $event)">{{rt.name}} 
                    <div class="float-right">
                      <i class="fa fa-clipboard pr-1" aria-hidden="true" (click)="copyLinkToClipboard(rt.segmentUris[0].mapsUri, $event)"></i>    
                      <i class="fa fa-external-link-square" aria-hidden="true" (click)="goToLink(rt.segmentUris[0].mapsUri, $event)"></i>   
                    </div>
                                 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-8 border">
        <iframe *ngIf="selectedRow != -1 && selectedSubRow != -1"
          [src]="routesDisplay[selectedRow].segmentUris[selectedSubRow].embedUri" width="100%" height="100%"></iframe>
      </div>
    </div>
  </ng-container>
  <div class="mb-0 pb-1">
    <hr />
    <p class="text-center font-12">
      Copyright©2021
      <br>
      <a href="www.linkedin.com/in/supun-d-silva">Supun De Silva - @LinkedIn</a>
    </p>
  </div>
</div>