<app-header></app-header>
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12 d-flex justify-content-center">
      <h5>Upload your .gpx Route File (GPX version 1.1 only)</h5>
    </div>
    <div class="col-sm-12">
      <div class="custom-file">
        <input type="file" class="custom-file-input cursor-pointer" accept=".xml,.gpx"
          (change)="changeListener($event)" id="customFile" (click)="clearSelection($event)">
        <label class="custom-file-label" for="customFile" #displayLabel>Choose file</label>
      </div>
      <div class="block text-center mt-2">
        <button [disabled]="lastLoadedfileData == null" class="btn btn-info pl-5 pr-5" (click)="processFile()">Convert</button>
      </div>
    </div>
  </div>
  <div *ngIf="parserError != null" class="row d-flex justify-content-center pt-2 pb-2 text-white">
    <div class="col-sm-8 bg-danger rounded">
      <div class="block text-center pt-1">
        <b>File seems to have errors</b>
      </div>
      <hr>
      <pre class="text-white">{{parserError}}
      </pre>
    </div>
  </div>
  <div *ngIf="parserWarning != null" class="row d-flex justify-content-center pt-2 pb-2 text-white">
    <div class="col-sm-8 bg-warning rounded">
      <div class="block text-center pt-1 pb-1">
        <b>{{parserWarning}}</b>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12 d-flex justify-content-center">
      <app-paypal-donate></app-paypal-donate>
    </div>
  </div>
  <ng-container *ngIf="routesInfile?.length > 0">
    <div class="row mt-2">
      <div class="col-sm-12 d-flex justify-content-center">
        <h5>Route Results</h5>
      </div>
    </div>
    <hr>
    <div class="row route-container">
      <div class="col-sm-4 border">
        <div class="row route-list">
          <div class="col-sm-12 text-center pt-2">
            <b>Your File has {{routesInfile?.length}} Route{{routesInfile?.length > 1 ? 's' : ''}}</b>
          </div>
          <div class="col-sm-12">
            <hr>
          </div>
          <div class="col-sm-12 route-list-table">
            <table class="table table-light">
              <tbody>
                <tr *ngFor="let rt of routesDisplay; index as i" class="cursor-pointer hover-row"
                   [ngClass]="{'bg-info text-white' : i == selectedRow}">
                  <td *ngIf="rt.routeSegments.length > 1">
                    {{rt.name}}
                    <table class="table table-light">
                      <tbody>
                        <tr *ngFor="let subRt of rt.routeSegments; index as j" class="cursor-pointer hover-sub-row"
                            [ngClass]="{'bg-white text-info' : j == selectedSubRow && i == selectedRow }"
                            (click)="rowSelected(i, j)">
                            <td>Route Part {{j + 1}}<i class="fa fa-clipboard  float-right" aria-hidden="true" (click)="copyLinkToClipboard(rt.segmentUris[j].mapsUri, $event)"></i></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td *ngIf="rt.routeSegments.length === 1" (click)="rowSelected(i, 0)">{{rt.name}} <i class="fa fa-clipboard float-right" aria-hidden="true" (click)="copyLinkToClipboard(rt.segmentUris[0].mapsUri, $event)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-8 border">
        <iframe *ngIf="selectedRow != -1 && selectedSubRow != -1" [src]="routesDisplay[selectedRow].segmentUris[selectedSubRow].embedUri" width="100%" height="100%"></iframe>
        <!-- <app-google-map></app-google-map> -->
      </div>
    </div>
  </ng-container>
</div>
