.cursor-pointer {
  cursor: pointer;
}

.custom_check_box {
  width: 16px;
  height: 16px;
}

.font-12 {
  font-size: 12px;
}

.route-container {
  height: 650px;
  max-height: 650px;

  .route-list {
    max-height: 600px;

    .route-list-table {
      max-height: 580px !important;
      overflow-y: scroll !important;
    }
  }

  .hover-row:hover {
    background-color: lightgray;

    .hover-sub-row {
      background-color: lightgray;
    }
    .hover-sub-row:hover {
      background-color: white !important;
    }
  }
}